<!-- https://www.discoveredfoods.com/ -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebAssignment - Discovered Wildfoods</title>
    <!-- Link CSS file--><link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <div class="topMenu">
            
                <div class="leftTitle hover">
                <a href="http://www.discoveredfoods.com" target="_blank">
                    <div class="title">
                        <span>D</span>ISCOVERE<span>D</span>
                    </div>
                    <div class="subTitle">    
                        WILDFOODS
                    </div>
                </a> 
                </div> 
           

            <div class="navMenu">
                <div class="cart hover">Cart</div>
                <div class="menu hover">Menu</div> 
            </div>
        </div>  
    </header> 

    <div class="cartPopup"><div class="cartClose hover">CLOSE</div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer</div>
    <div class ="menuPopup"><div class="menuClose hover">CLOSE</div>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>

    <div class = "Page1">
        <div class="P1title">
                <div class="P1Text">
                    <div>Wild.</div>
                    <div>Sustainable.</div>
                    <div>Delicious.</div>
                </div>
            </div>
        </div>

        <div class = "P1Image">
            <img src="img/P1Image.png" alt="P1Image" width="100%" height="100%">
        </div>

        <div class = "P1 Content">
            <!--Image
                Image
                Blurb -->
        </div>
    </div>

    <div class = "Page2">
        <!-- Page 2 content, 100% page width--> 

        <div class = "Column1">
            <div class="cropped">
                <img src="img/page2Img1.jpg" alt="Column1">
            </div>
        </div> 

        <div class = "Column2">
            <div class="columnText">
                <div class = "colTextHeader">
                    The best meat for you & the planet.
                </div>
                <div class = "colTextContent">
                    We partner with landowners to preserve native habitats & agricultural land by ethically harvesting Australian wild game.
                    <br/><br/>
                    Learn more about our mission to start a conscious carnivore revolution.
                    <br/><br/>
                    <a href="http://www.discoveredfoods.com" target="_blank">
                       <div class = "colLink hover">
                           DISCOVER OUR MISSION!
                       </div>
                    </a>
                </div>
            </div>
            <img src="img/page2img2.jpg" alt="Column2">
        </div>
    </div>

    <div class = "SideScroll hover">
        <div class = "ScrollItems">
            
        </div>
    </div>   

    <footer>
        <div id="mouse-circle"></div>
    </footer>
    
    <script src="js/main.js"></script>

</body>
</html>