<!-- moved to layout.ejs -->
    <header>
        <div class="topMenu">
            
                <div class="leftTitle hover">
                <a href="http://www.discoveredfoods.com" target="_blank">
                    <div class="title">
                        <span>D</span>ISCOVERE<span>D</span>
                    </div>
                    <div class="subTitle">    
                        WILDFOODS
                    </div>
                </a> 
                </div>       

            <div class="navMenu">
                <div class="cart hover">Cart</div>
                <div class="menu hover">Menu</div> 
            </div>
        </div>  
    </header> 

        <!-- Cart pop up content -->
    <div class="cartPopup">
        <div class = "cartHeader">
            Your Cart
            <div class="cartClose hover">Close</div>
        </div>
        <div class="cartContents">
            Nothing Here.
        </div>
        <div class="cartMessage">
            Add some of our delicious wild venison and start a party!
        </div> 
    </div>

    </div>
    <div class ="menuPopup">
        <iframe class="Game" width="560" height="315" allow="fullscreen; autoplay; encrypted-media" src="https://games.construct.net/574/latest" frameborder="0" allowfullscreen="true" msallowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allowpaymentrequest="false" referrerpolicy="unsafe-url" sandbox="allow-same-origin allow-forms allow-scripts allow-pointer-lock allow-orientation-lock allow-popups" scrolling="no"></iframe>    </div>

    <div class = "Page1">
        <div class="P1title">
                <div class="P1Text">
                    <div>Wild.</div>
                    <div>Sustainable.</div>
                    <div>Delicious.</div>
                </div>
            </div>
        </div>

        <div class = "P1Image">
            <img src="img/P1Image.png" alt="P1Image" width="100%" height="100%">
        </div>

        <div class = "P1 Content">
                <!-- Image
                Image
                Blurb -->
        </div>
    </div>

    <div class = "Page2">
        <!-- Page 2 content, 100% page width--> 

        <div class = "Column1">
            <div class="cropped">
                <img src="img/page2Img1.jpg" alt="Column1">
            </div>
        </div> 

        <div class = "Column2">
            <div class="columnText">
                <div class = "colTextHeader">
                    The best meat for you & the planet.
                </div>
                <div class = "colTextContent">
                    We partner with landowners to preserve native habitats & agricultural land by ethically harvesting Australian wild game.
                    <br/><br/>
                    Learn more about our mission to start a conscious carnivore revolution.
                    <br/><br/>
                   
                       <div class = "colLink hover">
                            <a href="http://www.discoveredfoods.com" target="_blank">
                            DISCOVER OUR MISSION!
                            </a>
                       </div>                    
                </div>
            </div>
            <img src="img/page2img2.jpg" alt="Column2">
        </div>
    </div>

    <div class = "SideScroll hover">
        <div class = "ScrollItems">            
        </div>
    </div>   

    <footer>
        <div id="mouse-circle"></div>
    </footer>
    
    <script src="js/main.js"></script>

