/* Adding in the fonts via links*/
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@font-face {font-family: "Morion Bold";
    src:
    url("Morion\ Bold/@font-face/0a0cbbd2ee416efdde8260f3aafa0d14.woff2") format("woff2"), /* chrome、firefox */
    url("Morion\ Bold/@font-face/0a0cbbd2ee416efdde8260f3aafa0d14.woff") format("woff"), /* chrome、firefox */
    url("Morion\ Bold/@font-face/0a0cbbd2ee416efdde8260f3aafa0d14.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("Morion\ Bold/@font-face/0a0cbbd2ee416efdde8260f3aafa0d14.svg#Morion Bold") format("svg"); /* iOS 4.1- */
  }

  *{

  }
  
/* Hover mouse styling*/
#mouse-circle {
    position: absolute;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    border: 1px solid #0f1c64;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 1s, backdrop-filter 1s;
    z-index: 5;
}

body{
    background-color: rgb235, 234, 228();
    display:flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}

header{
    width: 100%;
    height: 10%;
    align-content: center;
    position: fixed;
}

/* Mouse hover controls*/
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}

.cart, .menu, .cartClose, .menuClose{
    cursor:pointer;
}

/* Discovered wildfoods clickable in top left, Cart and Menu in top right */
.topMenu{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navMenu{
    display:flex;
    width: 15%;
    font-family: 'Crete Round', serif;
    font-weight: 350;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    justify-content: space-around;
    margin: 2%;
}

.leftTitle{
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}

.subTitle{
    text-align: center;
    color: black;
    margin-top: -10px;
    font-size: 2vh;
}

.title span{
    font-size: 155%;
}

.wild{
    font-size: 100%;
}

.navMenu{
    font-size: 3vh;
}

/* Font colour control */
.title, .cart, .menu, .cartPopup, .menuPopup .colTextHeader, .colTextContent{ 
    color: #38524F;
}

/* Styling for the 2 hidden pages for Cart and Menu*/
.cartPopup, .menuPopup{
    font-family: "Morion Bold";
    position: fixed;
    z-index: 3;    
    height:100vh;
    transition:all 0.4s;
}
.cartPopup{
    right:-40%;
    width: 40%;
    border-left:2px;
    border-left-style: solid;
    box-sizing: border-box;
    background-color: rgb(235, 234, 228);
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 4vh;
}

.cartHeader{
    font-size: 5vh;
}

.cartPopup .cartClose{
    font-size: 3vh;
    align-self: flex-end;
    padding:1vh;
}
.menuPopup{
    top:-100%;
    width: 100%;
    background-color: lightcoral;
}
.menuPopup.open{    
    top:0;
}
.cartPopup.open{
    right:0;
}
/* End of Header */

/* Main page beginning at Title (Wild, sustainable, delicious) */
.Page1{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
}

.P1title{
    justify-content: center;
    height:80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.P1title>div{
    padding: 60px;
}

.P1title div{
    font-family: "Morion Bold";
    font-size: 20vh;
    color: #38524F;
}

.P1Image{
    width:90%;
}

/* Content after main page image and title*/
.Page2{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:60px;
    z-index: -400;
}

.Column1{
    padding:60px 0 60px 60px;
}

.cropped{
    width:100%;
    height:60vh;
    overflow:hidden;
}

.Column1 img{
    transform: scale(2.3);

}

.Column1 img, .Column2 img{
    width:100%;
}

.Column2{  
    padding:60px 60px 60px 0;  
}

.Column2 img{
}

.columnText{
    padding:60px;
}

.colTextHeader{
    font-size: 5vh;
    margin-bottom: 5%;
}

.colTextContent{
    font-size: 3vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* End of Page 2 content */

/* Side scrolling content */
.active{
    transform: scale(1);
}

.SideScroll{
    display: flex;
    overflow-x: scroll;
}

.ScrollImg{
    padding: 20px;
    width: 100%;
    height: 800px;
}
/* End of scroll*/

